<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>대쉬보드 홈</title>

    <!-- 공용 css/js 추가 -->
    <th:block th:replace="~{common/common}"></th:block>
	
	<link rel="stylesheet" href="/css/adminBoard/admin-info.css">
	<link rel="stylesheet" href="/css/adminBoard/admin-sidebar.css">
</head>
<body>
  
  <div class="wrapper">
    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>
  
  <main>

    <!-- 사이드 추가 -->
    <th:block th:replace="~{sideMenu/sideMenu-admin}"></th:block>

    <main class="main-content">

      <section class="ranking-header">
        <h1 class="ranking-title">
          관리자 대쉬보드
        </h1>
      </section>

	  <section class="genre-section">
	    <div class="genre-header">

	      <div class="profile-container">
	        <div class="profile-header">
			<form action="editProfile" method="POST" name="myPageFrm" id="profile" enctype="multipart/form-data">
				
			<div class="profile-image-area">

              <img th:with="user=#{user.default.image}" th:src="${session.loginMember.profileImg ?: user}"
                id="profileImg">

            </div>
			 <span id="deleteImage">x</span>
			 <div class="profile-btn-area">
				
				<label for="imageInput">이미지 선택</label>
				
				<input type="file" name="profileImg" id="imageInput" accept="image/*">
				
				<button>변경하기</button>
				
			 </div>
			</form>
			
	        <div class="profile-info">
	          <h1 class="profile-name">관리자</h1>
	          <p class="profile-bio">관리자계정입니다.</p>
	        </div>
			
			<!-- 선호 장르 출력 -->
            <div class="favorite-genres" th:if="${member?.memberBookCategory != null}">
              <span class="genre-label">선호 장르 :</span>
              <span class="genre-item" th:text="${member?.memberBookCategory}">선호 장르 없음</span>
            </div>
			  
	        <a href="/adminBoard/editInfo" class="editInfoBtn">
	          내 정보 수정
	        </a>


	        </div>

	        <div class="stats-container">
	          <div class="stat-item">
	            <p class="stat-number" th:text="${bookCount}">000</p>
	            <p class="stat-label">등록된 도서 수</p>
	          </div>
	          <div class="stat-item">
	            <p class="stat-number" th:text="${memberCount}">000</p>
	            <p class="stat-label">가입한 회원 수</p>
	          </div>
	          <div class="stat-item">
	            <p class="stat-number" th:text="${boardCount}">000</p>
	            <p class="stat-label">등록된 게시글 수</p>
	          </div>
	        </div>
	      </div>

      
    </main>
    <!-- 푸터 추가-->
    <th:block th:replace="~{common/footer}"></th:block>

  </div>

    <!-- js 추가 -->
    <script src="/js/adminBoard/dashAdmin.js"></script>

</body>
</html>