<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>도서 등록 페이지</title>

	<!-- 공용 css/js 추가 -->
	<th:block th:replace="~{common/common}"></th:block>

	<link rel="stylesheet" href="/css/adminBoard/insertBook.css">
	<link rel="stylesheet" href="/css/adminBoard/admin-sidebar.css">

	<style>
	</style>



</head>

<body>

	<div class="wrapper">
		<!-- 헤더 추가 -->
		<th:block th:replace="~{common/header}"></th:block>

		<!-- 사이드 추가 -->
		<th:block th:replace="~{sideMenu/sideMenu-admin}"></th:block>

		<main class="main-content">

			<section class="ranking-header">
				<h1 class="ranking-title">
					도서 등록 페이지
				</h1>
			</section>
			<section class="genre-section">
				<div class="search-section">
					<div class="search-wrapper" style="display: flex;">
						<input type="text" class="form-control" id="searchInput" placeholder="도서 제목을 입력하세요(최대 10개만 조회됩니다)"
								style="border-radius: 8px;">
						<button class="search-button">
							<i class="fas fa-search"></i>검색
						</button>

					</div>
				</div>
			</section>

			<section class="ranking-header">
				<h1 class="ranking-title">검색된 도서 목록</h1>
				<div id="bookSearchContainer">
			        <div id="srchBookList">
			            <!-- 도서 결과가 여기에 동적으로 추가됩니다 -->
			        </div>
			    </div>
			</section>
			<section class="genre-section">
				<!-- 도서 상세 정보 섹션 -->
		        <div id="bookDetailSection" style="display: none;">
		            <div id="bookDetailContent">
		                <!-- 상세 정보가 여기에 동적으로 추가됩니다 -->
		            </div>
					<div class="button-area" style="justify-self: right;">
						<button class="save-button" id="saveBtn">저장</button>
					</div>
		        </div>
				
				<input type="hidden" id="isbnData" />
				
			</section>

		</main>

		<!-- 푸터 추가-->
		<th:block th:replace="~{common/footer}"></th:block>

	</div>

	<!-- 다음 주소 API 추가 -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!-- js 추가 -->
	<script src="/js/adminBoard/insertBook.js"></script>

</body>

</html>