<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>도서 등록 페이지</title>

  <!-- 공용 css/js 추가 -->
  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/adminBoard/updateBook.css">
  <link rel="stylesheet" href="/css/adminBoard/admin-sidebar.css">

</head>

<body>

  <div class="wrapper">
    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 사이드 추가 -->
    <th:block th:replace="~{sideMenu/sideMenu-admin}"></th:block>

    <main class="main-content">

      <section class="ranking-header">
        <h1 class="ranking-title">
          도서 수정 페이지
        </h1>
      </section>
	  <!-- 책 기본 정보 -->
	  <div class="book-detail-header d-flex gap-4 mb-4">
	  	<input type="hidden" id="selectBookId" th:value="${book.bookId}"/>
		<input type="hidden" name="key" th:value="${key}">
		<input type="hidden" name="search" th:value="${search}">
		<input type="hidden" name="cp" th:value="${pagination != null ? pagination.currentPage : 1}">
	  	<img src="#" th:src="${book.coverUrl}" alt="Book cover" class="book-detail-cover">
	  	<div class="book-detail-info">
	  		<h2 class="book-detail-title mb-2" th:utext="${book.title}">도서 제목</h2>

	  		<p class="book-detail-author mb-3">
	  			<i class="fas fa-pen-nib me-2"></i>
				<span th:utext="${book.author}">작가 이름</span>
	  		</p>
			
			<div class="book-detail-genres mb-3">
				<i class="fa-solid fa-building"></i>
				<span th:utext="${book.publisher}">출판사</span>
			</div>
			
			<div class="book-detail-pubDate mb-3">
				<i class="fa-solid fa-calendar-days"></i>
				<span th:utext="${book.pubDate}">출판일</span>
			</div>
				
	  		<div class="book-detail-stats mb-3">
	  			<div class="stat-item">
	  				<i class="fas fa-star text-warning"></i>
	  				<span th:text="${book.customerReviewRank}">별점</span>
	  			</div>
			
	  		</div>
	  	</div>

	  </div>
	  
	  <div>
	  작가명 수정 : <input type="text" id="authorInput" name="author" class="form-control" th:value="${book.author}">
	  </div>
	  <div>
	  출판사 수정 : <input type="text" id="publisherInput" name="publisher" class="form-control" th:value="${book.publisher}">
	  </div>

	  <!-- 책 소개 -->
	  <div class="book-synopsis mb-4">
	  	<h3 class="section-title">작품 소개</h3>
	  	<textarea id="descriptionTextarea" name="description" class="book-synopsis-text" th:utext="${book.description}" rows="5" cols="100">
			책 소개
	  	</textarea>
	  </div>
	  
	  <div class="button-group">
	    <button id="submitUpdate" class="myPage-submit">수정하기</button>
	    <button id="cancelUpdate" class="myPage-submit-cancel">수정 취소</button>
	  </div>
	  

    </main>

    <!-- 푸터 추가-->
    <th:block th:replace="~{common/footer}"></th:block>

  </div>

  <!-- js 추가 -->
  <script src="/js/adminBoard/updateBook.js"></script>

</body>

</html>
