<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Book Community 메인페이지</title>

	<!-- templates/common/common.html 조각으로 추가 -->
	<th:block th:replace="~{common/common}"></th:block>
	<link rel="stylesheet" href="/css/member/srchId-style.css">

	<style>
		body {
			background-color: #F9FAFB;
		}
	</style>
</head>

<body>
	<!-- common/header.html 을 조각으로 추가 -->
	<th:block th:replace="~{common/header}"></th:block>
	<main class="main-content">

		<div class="split-container">
			<div class="left-section">
				<h1 class="signUp-title">아이디 찾기</h1>
			</div>
			<div class="right-section" >
				<div class="login-container">
					<div class="login-container">
						<form name="srchIdForm" id="srchIdForm" method="POST" action="/member/srchId">
							<div class="input-group">
								<label for="userEmail">이메일</label>
								<input type="email" id="inputEmail" class="input-field" placeholder="이메일을 입력하세요"
									required>
								<button type="button" id="sendAuthKeyBtn" class="send-authBtn">인증번호 받기</button>
							</div>
							<div class="input-group">
								<label for="verificationCode">인증 번호</label>
								<input type="text" id="authKey" class="input-field" placeholder="인증 번호를 입력하세요" required>
								<span class="signUp-message" id="authKeyMessage"></span>
							</div>
							<div class="button-group">
								<button type="button" id="checkAuthKeyBtn" class="submit-button">확인</button>
								<button type="button" class="cancel-button" onclick="window.history.back()">취소</button>
							</div>
						</form>
						<div class="print-div" id="printSrchId" style="display: none;">
						</div>

					</div>
				</div>
			</div>
		</div>

	</main>

	<!-- common/footer 추가-->
	<th:block th:replace="~{common/footer}"></th:block>

	<script>
		document.querySelectorAll('#signUpButton').forEach(button => {
            button.addEventListener('click', function() {
							if(confirm("회원가입 페이지로 이동 하시겠습니까?")) {
                window.location.href = '/member/submit'; 
							} else {
								window.location.href = '/member/login';
							}
            });
        });
	</script>

	<script src="/js/member/srchId.js"></script>

</body>

</html>